input {
    mod-key "Alt"

    keyboard {
        xkb {
            layout "us"
            options "compose:ralt"
        }

        numlock
     }

     mouse {
         accel-speed 1.0
         accel-profile "flat"
     }

     touchpad {
         tap
         natural-scroll
     }
}

prefer-no-csd

gestures {
    hot-corners {
        off
    }
}

layout {
    gaps 8
    center-focused-column "always"
    always-center-single-column

    default-column-width {
        proportion 0.5
    }

    preset-column-widths {
        proportion 0.5
        proportion 0.98
    }

    focus-ring {
        off
    }

    border {
        width 4
        active-color "#ff4ead"
        inactive-color "#1a1a1a"
        urgent-color "#f87171"
    }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    default-window-height { proportion 1.0; }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "axidev-osk"
spawn-at-startup "sh" "-lc" "~/.config/kanata/kanata-tray"
spawn-at-startup "sh" "-lc" "~/dotfiles/niri/.config/niri/autostart-desktop"
spawn-at-startup "sh" "-lc" "nm-applet --indicator"
spawn-at-startup "sh" "-lc" "/usr/libexec/xdg-desktop-portal-wlr"
spawn-at-startup "sh" "-lc" "/usr/libexec/xdg-desktop-portal-gtk"
spawn-at-startup "sh" "-lc" "swaybg -i ~/wallpaper/menhara_mtf_hihi_topazlabs_upscale.png -m fill"

animations {
    off
}

window-rule {
    match title=r#"(?i)(picture.in.picture|picture-in-picture|pip|image.dans.l.image)"#
    open-floating true
    open-focused true
}

window-rule {
    match app-id=r#"(?i)pwvucontrol|org\.pulseaudio\.pwvucontrol"#
    open-floating true
    open-focused true
}

window-rule {
    match title="Brightness|Displays"
    open-floating true
    open-focused true
}

binds {
    Mod+F hotkey-overlay-title="Reset column width preset" { spawn-sh "niri msg action switch-preset-column-width && niri msg action reset-window-height"; }

    Mod+T hotkey-overlay-title="Open WezTerm" { spawn "wezterm"; }
    Mod+Q hotkey-overlay-title=null { close-window; }
    Mod+Escape allow-inhibiting=false hotkey-overlay-title="Toggle shortcut inhibition" { toggle-keyboard-shortcuts-inhibit; }
    
    Mod+S { screenshot-screen; }
    Mod+Shift+S { screenshot-window; } 

    Mod+I hotkey-overlay-title="Show hotkeys" { show-hotkey-overlay; }
    Mod+Space hotkey-overlay-title="Search apps, commands, and files" { spawn "fuzzel"; }
    Mod+X { spawn-sh "kill -USR2 $(pgrep -x handy)"; }

    Mod+H { focus-column-left; }
    Mod+Left { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+Right { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+Right { move-column-right; }

    Mod+Tab { toggle-overview; }
    F19 { toggle-overview; }
    Mod+K { focus-workspace-up; }
    Mod+J { focus-workspace-down; }

    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+J { move-column-to-workspace-down; }

    Mod+Shift+Space hotkey-overlay-title="Toggle floating" { toggle-window-floating; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }
}
